.container {
  font-size: 2rem;
  color: var(--prm-color);
  width: max-content;
  border-radius: 11px;
  background: #ffffff;
  box-shadow: 10px 10px 24px #b3b3b3, -10px -10px 24px #ffffff;
  padding: 2rem 5rem;
}
.btn {
  background: var(--prm-color);
  outline: none;
  border: none;
  padding: 0.8rem 2rem;
  color: white;
  font-size: 1.5rem;
  border-radius: 15px;
  font-weight: bold;
}
@media (max-width: 580px) {
  .container {
    width: 100vw;
    box-shadow: none;
    font-size: 1.7rem;
  }
}
